
<h2>Legend</h2>
<table>
<tr><td colspan=2><b>Metadata tags (inside definition)</b></td></tr>
<tr><td><tt>@pronunciation</tt></td>
<td>Mostly leave this out. I'll add it as needed.</td>
</tr>

<tr><td><tt>@etymology</tt></td>
<td>Mostly leave this out. I'll add it as needed.</td>
</tr>

<tr><td><tt>@aka</tt></td>
<td>
"Also known as..." Use if there is a common synonym that is not obvious.
</td>
</tr>

<tr><td><tt>@abbr</tt></td>
<td>Give the abbreviation (if any) for this term.</td>
</tr>

<tr><td><tt>@expansion</tt></td>
<td>Opposite of <tt>@abbr</tt>. Give the expansion (if any) for this abbreviated term.</td>
</tr>

<tr><td><tt>@see</tt></td>
<td>No definition here. Refer to another term instead.</td>
</tr>

<tr><td><tt>@see_also</tt></td>
<td>Definition here. But refer also to this other term.</td>
</tr>

<tr><td><tt>@compare</tt></td>
<td>Refer to another term that may offer comparison or contrast.</td>
</tr>

<tr><td><tt>@alt_sense</tt></td>
<td>A definition representing a different sense or usage of this term.</td>
</tr>

<tr><td><tt>@sources</tt></td>
<td>Source(s) where this information came from.</td>
</tr>

<tr><td><tt>@image</tt></td>
<td>URL referring to a relevant image file. Use none or many as needed.</td>
</tr>

<tr><td><tt>@image_credits</tt></td>
<td>Credit the source or copyright of an image. Once per image used.</td>
</tr>

</table>