<%= form_for @word, :html => { :class => "form-horizontal word" } do |f| %>
  <div class='row'>
    <div class='col-md-6'>
      <%= render partial: "words/form/fields", locals: {f: f} %>
    </div>
    <div class='col-md-6'>
      <%= render partial: "words/form/legend" %>
    </div>
  </div>
<% end %>
